.form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  max-width: 440px;
  width: 90%;
  min-height: 330px;
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 440px) {
  .form {
    max-width: 90%;
    min-height: 296px;
  }
}
