.form__close-btn {
  width: 40px;
  height: 40px;
  object-fit: none;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  color: white;
  font-size: 50px;
  font-weight: 400;
}

.form__close-btn:hover {
  transform: scale(1.2);
}
