.popup__container {
  margin: 0;
  padding: 31px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 440px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 440px) {
  .popup__container {
    max-width: 90%;
  }
}
