.form__button-close {
  padding: 0;
  background-image: url(../../../images/btn-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -40px;
  top: -40px;
  color: white;
}

.form__button-close:hover {
  opacity: 0.6;
  transition: opacity 1s linear;
}

@media screen and (max-width: 626px) {
  .form__button-close {
    right: 0;
  }
}
