.header__logo {
  position: absolute;
  width: 144px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 430px) {
  .header__logo {
    width: 107px;
    height: 25px;
    left: 27px;
  }
}
