.header__logo {
  display: block;
  width: 144px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}

@media screen and (max-width: 430px) {
  .header__logo {
    width: 107px;
    height: 25px;
    margin-left: 27px;
  }
}
