.header {
  margin: 0 auto;
  max-width: calc(100% - 400px);
  height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 880px;
  }
}

@media screen and (max-width: 920px) {
  .header {
    padding-top: 36px;
    max-width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .header {
    padding-top: 28px;
    max-width: 100%;
    height: 56px;
  }
}

