.author__avatar {
  width: 120px;
  height: 120px;
  grid-area: avatar;
  border-radius: 60px;
  object-fit: hover;
  justify-self: center;
}

@media screen and (max-width: 448px) {
  .author__avatar {
    margin-bottom: 26px;
  }
}
