.place__delete {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 20px;
  background-image: url(../../../images/delete.svg);
  background-size: cover;
  position: absolute;
  right: 15px;
  top: 18px;
  cursor: pointer;
}

.place__delete:hover {
  opacity: 0.6;
  transition: .3s;
}
