.button_edit {
  display: inline;
  width: 24px;
  height: 24px;
  grid-area: button-edit;
  align-self: flex-end;
  background-image: url(../../../images/pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 448px) {
  .button_edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    align-self: center;
  }
}
